.App {
  font-family: sans-serif;
  text-align: center;
}

.Link {
  color: "white"
}



.BackgroundPage {
  background-size: cover;
  background-color:rgb(82, 205, 209) ;
}

.BackgroundBottom {
  background-size: cover;
  background-color:rgb(52, 56, 56) ;
}

.BackgroundBottom2 {
  background-size: cover;
  background-color:rgb(92, 92, 92) ;
}